body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
	padding: 1rem;
}

.pagination {
	margin: 0 0 1rem;
}

.pagination .button {
	margin-right: 0.4rem;
}

.label,
.select {
	margin-right: 0.4rem;
}

.button,
.select {
	padding: 0.2rem 0.4rem;
}

.fieldset {
	margin: 0 0 1rem;
}

.result-list li {
	margin: 0 0 0.4rem;
}
